@using SMGS.Presentation.ViewModel.VM;
@model  SMGS.Presentation.ViewModel.VM.VM_ListBooking

@{
    ViewBag.Title = "BOOKING";
    Layout = "~/Views/Shared/_LayoutForAdminPage.cshtml";
}

@if (Model != null)
{
    foreach (var item in Model.Beds)
    {
    <div class="bed">
    @{
        <div class="col-md-3">
        @if (item.CheckDateTimeInPeriod(DateTime.Now))
        {
            <img src="~/Contents/img/bed/bed-in-use.png" id="@item.Id" onclick="GoToBooking(@item.Id)" />
        }
        else
        { 
            <img src="~/Contents/img/bed/bed-free.png" id="@item.Id" onclick="Booking(@item.Id)"/>
        }
            <div class="booking-information">
                <a class="bed-name">@item.Name</a>
            </div>
        </div>
        }
    </div>

    }
}
