@model SMGS.Presentation.ViewModel.VM.VM_ListServices
@{
    ViewBag.Title = "Services For Admin Manage";
    Layout = "~/Views/Shared/_LayoutForAdminPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Service</h4>
                <p class="category">This table is showing all services</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th class="col-md-5">Name</th>
                        <th class="col-md-1">Code</th>
                        <th class="col-md-2">Cost</th>
                        <th class="col-md-3">Time cost</th>
                        <th class="col-md-1">In Use</th>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.ListServices.Count(); i++)
                    {
                        <tr onclick="" class="emp-row-in-list">
                            <td class="text-primary">@Html.DisplayFor(_ => _.ListServices.ToList()[i].Name)</td>
                            <td>@Html.DisplayFor(_ => _.ListServices.ToList()[i].ServiceCode)</td>
                            <td>@Html.DisplayFor(_ => _.ListServices.ToList()[i].Cost)</td>
                            <td>@Html.DisplayFor(_ => _.ListServices.ToList()[i].TimeCost.Hour) hour @Html.DisplayFor(_ => _.ListServices.ToList()[i].TimeCost.minute) minutes </td>
                            <td>@Html.CheckBoxFor(_ => _.ListServices.ToList()[i].IsInUse, new { @class = "checkbox", @checked="checked"})</td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="col-md-3"></div><!--Using for fit space-->
                <div class="col-md-6">
                    <div class="align-middle row">
                        <ul id="paging-services" class="list-inline align-middle">
                            <li>
                                <div class="item">
                                    <i class="tiny material-icons">first_page</i>
                                    <a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <i class="tiny material-icons">navigate_before</i>
                                    <a href="#"></a>
                                </div>
                            </li>
                            <!--Page marking-->
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                if (i == Model.ThisPage)
                                {
                                    <li class="active">
                                        <div>
                                            <a><sub>@i</sub></a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <div class="item">
                                            <a onclick="GoToServicePage(@i)">@i</a>
                                        </div>
                                    </li>
                                }
                            }
                            <!--End page marking-->
                            <li>
                                <div class="item">
                                    <i class="tiny material-icons">navigate_next</i>
                                    <a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <i class="small material-icons">last_page</i>
                                    <a href="#"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3"></div> <!--Using for fit space-->
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Create Service</button>
    </div>
</div>